* {
box-sizing: border-box;
}

body{
  margin: 0;
}
.main-container{
height: 100%;
display: flex;
flex-direction: column;
}

/* ------ Header ---------- */
header{
  height: 260px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 44px 50px;
  margin-top: 40px;
}
header h1{
  font-size: 60px;
  margin-top: 0px;
  margin-bottom: 20px;
  padding-top: 0px;
  font-family: 'satisfy',cursive;
  text-transform: uppercase;

}
header nav{
  width: 500px;
  margin-bottom: 60px;
  
}
header nav ul{
  padding:0;
  display: flex;
  width: 100%;
  justify-content: space-between;
  list-style-type:none;
}
header nav ul a{
text-decoration: none;
color: black;
font-family: "Arial Black", Gadget, sans-serif;
font-size: 14px;
text-transform: uppercase;
}

header nav ul a:hover{
  color: #0ba39c;
}
/* -------- main -------- */
main{
  min-height: 477px;
  display: flex;
  flex-direction: column;
  background-image: url(./Images/tigerking.jpeg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 100% 25%;
  align-items:flex-end;
}
.main-text{
  text-align: right;
  margin-right: 300px;
}
.main-text h2 {
  margin-top: 45px;
  background-color: white;
  display: block;
  padding: 23px 27px 20px;
  font-size: 20px;
  font-family: poller one;
  text-transform: uppercase;
  text-align: center;
}

.main-text p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: normal;
  display: block;
  align-items: center;
  color: white;
  background-color: #252525;
  padding: 12px 27px;
  font-size: 20px;
  width: fit-content;
}
.main-container button{
  display: block;
  background-color: #0ba39c;
  color: white;
  height: 64px;
  width: 150px;
  font-size: 16px;
  border: none;
  text-transform: uppercase;
  cursor: pointer;
}
.main-text button:hover{
  background-color: #4ac4bd;
  
}
/*------ Section------- */

section{
  padding-top: 24px;
  height: 400px;
  display: flex;
  justify-content: center;
  align-items: center;
}
section div img{
  margin-top: 20px;
  margin-left: 20px;
  border: 2px solid black;
}
section p{
  text-align: center;
  font-family: poller one;
  font-size: 20px;
  text-transform: uppercase;
  margin-bottom: 50px;
  margin-top: 30px;
}
/* -------- Footer --------- */
footer{
  min-height:122px;
  background-color: #252525;
  display: flex;
  flex-direction: row;
  justify-content: left;
  align-items: center;
}
footer ul{
  list-style-type: none;
  display: flex;
  font-size: 30px;
}
footer span {
  align-items: center;
  justify-content: center;
  color: white;
  margin-left: 120px;
  margin-right: 500px;
  
}
footer ul a{
  color: white;
  list-style: none;
  text-decoration: none;
  border: 2px solid white;
  height: 44px;
  width: 44px;
  margin-right: 15px;
  text-align: center;
  padding: 5 5 5 5;
}
footer ul a.fa.fa-pinterest{
  margin-right: 0%;
} 
footer ul a:hover{
  background-color: white;
  color: black;
}

/* ------ Media Quiries --------- */

@media screen and (max-width:819px){
header{
  justify-content: space-evenly;
  width: 100%;
  justify-content: center;
  justify-items: center;
  align-items: center;
  text-align: center;
}
main{
  display: block;
  width: 100%;
  background-position: 50% 75%;
}
section{
  display: grid;
  height: fit-content;
}
footer{
  width: 100%;
  display: block;
}
footer ul{
  margin-top: 10px;
  justify-content: center;
  padding-left: 0%;
}
footer span {
  display: flex;
  text-align: center;
  padding-top: 20px;
  margin: 0;
}
footer nav a {
  display: flex;
}
}
